{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
  <header role="banner" class="main-header mobile-{{section.settings.mobile_layout}} desktop-{{section.settings.desktop_layout}} container">
    {%- if section.settings.announcement_bar_enabled -%}
      <div class="main-header__promo main-header__promo--{{section.settings.announcement_bar_position}}">
        {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
          {%- if section.settings.announcement_bar_link != blank -%}
            <a href="{{ section.settings.announcement_bar_link }}">
              {{ section.settings.announcement_bar_text | escape }}
            </a>
          {%- else -%}
            <p>{{ section.settings.announcement_bar_text | escape }}</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- else -%}
        <div class="main-header__promo main-header__promo--left"></div>
    {%- endif -%}
    <div class="main-header__social">
      {% if section.settings.show_social_in_header %}
        {% if settings.social_twitter_link != '' %}
          {% include 'new_twitter' %}
        {% endif %}
        {% if settings.social_facebook_link != '' %}
          {% include 'new_facebook' %}
        {% endif %}
        {% if settings.social_pinterest_link != '' %}
          {% include 'new_pinterest' %}
        {% endif %}
        {% if settings.social_instagram_link != '' %}
          {% include 'new_instagram' %}
        {% endif %}
        {% if settings.social_tumblr_link != '' %}
          {% include 'new_tumblr' %}
        {% endif %}
        {% if settings.social_snapchat_link != '' %}
          {% include 'new_snapchat' %}
        {% endif %}
        {% if settings.social_youtube_link != '' %}
          {% include 'icon-youtube' %}
        {% endif %}
        {% if settings.social_vimeo_link != '' %}
          {% include 'icon-vimeo' %}
        {% endif %}
      {% endif %}
    </div>
    <div class="main-header__mobile-trigger">
      <div class="trigger__middle"></div>
    </div>
    <div class="main-header__logo">
      {% if template.name == 'index' %}
        <h1>
      {% else %}
        <div class="h1">
      {% endif %}
      <a href="/" class="logo-image">
        {% if section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}
    </div>
    <div class="main-header__actions">
      <form action="/search" method="get" role="search">
        {% comment %} <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label> {% endcomment %}
        {% comment %} <input type="search"
          name="q"
          id="Search"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}"> {% endcomment %}

        <button type="submit" class="button">
          {% include 'icon-search' %}
          {% comment %} <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span> {% endcomment %}
        </button>
      </form>
      <a href="/cart">
        {% include 'new_shopping_cart' %}
        {% comment %} {{ 'layout.cart.title' | t }} {% endcomment %}
        {% comment %} ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}) {% endcomment %}
      </a>
      {% comment %} {% if shop.customer_accounts_enabled %}
        {% include 'new_account' %}
      {% endif %}
      {% include 'new_bag' %} {% endcomment %}
    </div>
  </header>
</section>
<p></p>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "select",
        "id": "announcement_bar_position",
        "label": "Position of Announcement",
        "options": [
            { "value": "left", "label": "Left"},
            { "value": "center", "label": "Center"}
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "checkbox",
        "id": "show_social_in_header",
        "label": "Social Media links in Header",
        "default": true
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "select",
        "id": "desktop_layout",
        "label": "Desktop Layout",
        "options": [
            { "value": "1", "label": "Layout 1"},
            { "value": "2", "label": "Layout 2"}
        ],
        "default": "1"
      },
      {
        "type": "select",
        "id": "mobile_layout",
        "label": "Mobile Layout",
        "options": [
            { "value": "1", "label": "Layout 1"},
            { "value": "2", "label": "Layout 2"}
        ],
        "default": "1"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
{% javascript %}
{% endjavascript %}