<div class="password-page" {% if section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: '1600x'  }})" {% endif %}>
    <div class="password-page__wrapper">
    <div class="password-page__content">
        <h2>{{ section.settings.title }}</h2>
        <h1>
        {% if section.settings.logo != blank%}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
        {% else %}
            {{ shop.name }}
        {% endif %}
        </h1>
        
        {% form 'customer', class: "customer-form" %}

            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
                <ul class="form-success">
                <li>{{ 'general.password_page.signup_form_success' | t }}</li>
                </ul>
            {% else %}
                <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <input type="email"
                name="contact[email]"
                id="Email"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                <button type="submit" name="commit" class="btn">
                {{ 'general.password_page.signup_form_submit' | t }}
                </button>
            {% endif %}
        {% endform %}

        {% if section.settings.social_icons %}
        <div class="social_icons">
        {% comment %} <p>{{ 'general.password_page.spread_the_word' | t }}</p> {% endcomment %}
        {% comment %} {% include 'social-sharing' %} {% endcomment %}
            {% if settings.social_twitter_link != '' %}
            <a href="{{settings.social_twitter_link}}">{% include 'new_twitter' %}</a>
            {% endif %}
            {% if settings.social_facebook_link != '' %}
            <a href="{{settings.social_facebook_link}}">{% include 'new_facebook' %}</a>
            {% endif %}
            {% if settings.social_pinterest_link != '' %}
            <a href="{{settings.social_pinterest_link}}">{% include 'new_pinterest' %}</a>
            {% endif %}
            {% if settings.social_instagram_link != '' %}
            <a href="{{settings.social_instagram_link}}">{% include 'new_instagram' %}</a>
            {% endif %}
            {% if settings.social_tumblr_link != '' %}
            <a href="{{settings.social_tumblr_link}}">{% include 'new_tumblr' %}</a>
            {% endif %}
            {% if settings.social_snapchat_link != '' %}
            <a href="{{settings.social_snapchat_link}}">{% include 'new_snapchat' %}</a>
            {% endif %}
            {% if settings.social_youtube_link != '' %}
            <a href="{{settings.social_youtube_link}}">{% include 'icon-youtube' %}</a>
            {% endif %}
            {% if settings.social_vimeo_link != '' %}
            <a href="{{settings.social_vimeo_link}}">{% include 'icon-vimeo' %}</a>
            {% endif %}
            </div>
        {% endif %}

        {% comment %} <a href="#Login">
            {% include 'icon-lock' %}
            {{ 'general.password_page.password_link' | t }} &rarr;
        </a> {% endcomment %}
    </div>
    </div>
</div>
{% schema %}
  {
    "name": "Password",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Coming Soon"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "checkbox",
        "id": "social_icons",
        "label": "Social Icons",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}